# 忽略编辑器配置
.trae/

# 忽略其他不相关文件
*.exe
*.xlsx
*.zip
*.txt
*.bak
desktop.ini
Thumbs.db

# 忽略其他文件夹
123/
RAY*/
RJ*/
e*/
~$*/
乙*/
傲*/
别*/
品*/
喜**
呆*/
孤*/
富*/
巡*/
已*/
常*/
新*/
无*/
果**
水**
溺*/
爱**
白**
皇*/
睡*/
神**
空*/
第**
经*/
继*/
被*/
转*/
修复版.html
别删*/
